{% extends 'another_base.html' %}
{% load static %}
Cart Details
{% block title %}
    Cart Details
{% endblock title %}

{% block content %}
    <!-- Cart Page Start -->
     <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Cart</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">Cart</li>
        </ol>
    </div>
    <!-- Single Page Header End -->
    <div class="container-fluid py-5">
        <!-- <div id="modal" class="container modal px-5 d-none">
            <div class="modal-content px-5">
                <p id="alart-msg" class="modal-dialog text-info"></p>
                <div>
                    <button class="btn btn-close"></button>
                </div>
            </div>
        </div> -->


        
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-body text-info" id="exampleModalLabel">
                    <!-- Item 
                    <strong id="modal-item-name"></strong>
                    is removed. -->
                  </h5>
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button> -->
                </div>
                <!-- <div class="modal-header">
                  
                </div> -->
                <div class="modal-footer">
                  <button id="modal-close-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
              </div>
            </div>
          </div>


        <div class="container py-5">
            {% if cart_items %}
                
            
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <!-- <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="{{ cart_item.item.image.url }}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                </div>
                            </th>
                            <td>
                                <p id="cart-item-name" class="mb-0 mt-4">{{ cart_item.item.name }}</p>
                            </td>
                            <td>
                                <p id="rate" rate="{{ cart_item.item.price }}" class="mb-0 mt-4">{{ cart_item.item.price }} $</p>
                            </td>
                            <td>
                                <div id="quantity" class="input-group quantity mt-4" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input id="qt-input" type="text" class="form-control form-control-sm text-center border-0" value=1>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p id="item-total" per-item-total="" class="mb-0 mt-4">{{ cart_item.item.price }} $</p>
                            </td>
                            <td>
                                <button id="remove-item" class="btn btn-md rounded-circle bg-light border mt-4" data-toggle="modal" data-target="#exampleModal" cart-item-id="{{ cart_item.id }}" cart-user-id="{{ cart_item.user.id }}">
                                    <i class="fa fa-times text-danger"></i>
                                  </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody> -->
                    
                    
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="{{ item.image.url }}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                </div>
                            </th>
                            <td>
                                <p id="cart-item-name" class="mb-0 mt-4">{{ item.name }}</p>
                            </td>
                            <td>
                                <p id="rate" rate="{{ item.price }}" class="mb-0 mt-4">{{ item.price }} $</p>
                            </td>
                            <td>
                                <div id="quantity" class="input-group quantity mt-4" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button id="sum" class="btn btn-sm btn-minus rounded-circle bg-light border" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input id="qt-input" type="text" class="form-control form-control-sm text-center border-0" value=1>
                                    <div class="input-group-btn">
                                        <button id="sum" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p id="item-total" per-item-total="{{ item.price }}" class="total mb-0 mt-4">{{ item.price }} $</p>
                            </td>
                            <td>
                                <!-- <button class="btn btn-md rounded-circle bg-light border mt-4" id="remove-item" item-id="{{ cart_item.id }}" >
                                    <i class="fa fa-times text-danger">{{ cart_item.id }}</i>
                                </button> -->
                                <button id="remove-item" class="btn btn-md rounded-circle bg-light border mt-4" data-toggle="modal" data-target="#exampleModal" value="{{ item.id }}" >
                                    <i class="fa fa-times text-danger"></i>
                                  </button>
                                <!-- <button id="sum" class="btn btn-md rounded-circle bg-light border mt-4">
                                    <i class="fa fa-times text-danger"></i>
                                </button> -->
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>  
            </div>
            {% else %}
            <div>
                <h3 class="font-weight-bold text-center mb-5 border">There is no item in Cart</h3>
            </div>
            
            {% endif %}  
            <!-- <div class="mt-5">
                <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
                <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply Coupon</button>
            </div> -->
            <div class="row g-4 justify-content-end">
                <div class="col-8"></div>
                <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                    <div class="bg-light rounded">
                        <div class="p-4">
                            <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                            <div class="d-flex justify-content-between mb-4">
                                <h5 class="mb-0 me-4">Subtotal:</h5>
                                <p id="subtotal" class="mb-0">$96.00</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h5 class="mb-0 me-4">Delivery Charge</h5>
                                <div class="">
                                    <p id="delivery" class="mb-0">Flat rate: BDT 60.00</p>
                                </div>
                            </div>
                            <!-- <p class="mb-0 text-end">Shipping to Ukraine.</p> -->
                        </div>
                        <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                            <h5 class="mb-0 ps-4 me-4">Total</h5>
                            <p id="final-total" class="mb-0 pe-4">$99.00</p>
                        </div>
                        <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Proceed Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart Page End -->

    <script>

        // Change Quantity total
        $(function(){
            $('#quantity button').click(function(){
                var button = $(this);
                let x = parseInt(button.parent().parent().find('input').val());
                let y = parseFloat(button.parent().parent().parent().parent().find('#rate').attr('rate'));
                let total = parseFloat(x * y)
                target = button.parent().parent().parent().parent().find('#item-total')
                // console.log('button', button, 'quantity:', x, 'rate:', y, 'total:', total);
                $(target).text(total.toFixed(2) +' '+'$');
                // $(target).val(total);
                $(target).attr('per-item-total', total.toFixed(2));

            });
        });

        // Remove button Function
        $(function(){
            // $('.table').on('click', '#remove-item', function(){
            //     var itemId = $(this).val();
            //     console.log('item id', itemId);
            // });
            $('.table #remove-item').click(function(){
                var itemId = $(this).val();
                console.log('item id', itemId);
                $.ajax({
                    type: 'POST',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    url: '{% url "cart:cart_delete" %}',
                    data: {item_id: itemId},
                    success: function(msg){
                        $('h5.modal-body').text(msg.status);
                        console.log(msg.status);
                    },
                    error: function(xhr, errmsg, err){

                    }
                });
            });
        });
        
        // $(document).ready(function(){
        //     $('.table').on('click', '#remove-item', function(){
        //         var button = $(this);
        //         var cartItemId = button.attr('cart-item-id');
        //         var cartUserId = button.attr('cart-user-id');
        //         // var cartItemName = button.parent().parent().parent().parent().find('#cart-item-name').text();
        //         console.log('button', button, 'cart-item-id:', cartItemId, 'User-id:', cartUserId);
        //         // var alartMsg = alert('Item-id: '+ itemId + ' is removed.')
        //         // $('#modal-item-name').text(cartItemName)
            
        //         $.ajax({
        //             type: 'POST',
        //             headers: {'X-CSRFToken': '{{ csrf_token }}'},
        //             url: '{% url "cart:cart_delete" %}',
        //             data: {cart_item_id: cartItemId, user_id: cartUserId},
        //             success: function(msg){
        //                 console.log('msg:', msg.result);
        //                 $('#modal-item-name').text(msg.result);
                        
        //             }
        //         });


        //     });
        // });

        // Modal Close button function
        $('#modal-close-btn').click(function(){
            location.reload();
        });

        // $(function(){
        //     $('#remove-item').click(function(){
        //         var button = $(this);
        //         let itemId = $(this).attr('item-id');
        //         console.log('button', button, 'itemid:', itemId)

        //     });
        // });
        
        // $(function(){
        //     let x = $('#quantity').val();
        //     let y = $('#rate').val();
        // });

        // Total of all item price

        $(function(){
            sum = 0;
            $('table #item-total').each(function(){
                    console.log('Value', $(this).attr('per-item-total'));
                    sum = (parseFloat(sum) + (parseFloat($(this).attr('per-item-total')) || 0)).toFixed(2)
                });
            // Put in the subtotal field for 1st time
            $('p#subtotal').text('$'+ sum)
            $('p#subtotal').attr('data', sum)
            console.log('Sum', sum)
        });

        $(function(){
            
            $('.table #sum').click(function(){
                sum = 0;
                $('table #item-total').each(function(){
                    console.log('Value', $(this).attr('per-item-total'));
                    sum = (parseFloat(sum) + (parseFloat($(this).attr('per-item-total')) || 0)).toFixed(2)
                });
                
                console.log('Sum', sum)
                // Put in the subtotal field 
                $('p#subtotal').text('$'+ sum)
            });
        });

        // Calculate Grand Total

        // $(function(){
        //     var x = 
        // });

    </script>

{% endblock content %}
        

