{% extends 'another_base.html' %}
{% load static %}

{% block title %}
    Orders
{% endblock title %}

{% block content %}
    <!-- Cart Page Start -->
     <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Orders</h1>
        <!-- <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">Cart</li>
        </ol> -->
    </div>
    <!-- Single Page Header End -->
    <div class="container-fluid py-5">
        <!-- <div id="modal" class="container modal px-5 d-none">
            <div class="modal-content px-5">
                <p id="alart-msg" class="modal-dialog text-info"></p>
                <div>
                    <button class="btn btn-close"></button>
                </div>
            </div>
        </div> -->


        


        <div class="container py-5">
            {% if all_orders %}
                
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <!-- <th scope="col">Order</th> -->
                        <th scope="col">Order</th>
                        <th scope="col">Total</th>
                        <th scope="col">Order Date</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                        {% for order in all_orders %}
                            
                        
                        <tr>
                            
                            <td>
                                <p id="cart-item-name" class="d-inline-flex gap-1 mb-0 mt-4">
                                    
                                        
                                            <a class="btn btn-primary" data-toggle="collapse" href="#{{ order.id }}">
                                            {{ order.id }}
                                            </a>
                                            <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                              Button with data-bs-target
                                            </button> -->
                                        
                                          <div class="collapse mt-3" id="{{ order.id }}">
                                            <div class="card card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                          <tr>
                                                            <th scope="col">Products</th>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Price</th>
                                                            <th scope="col">Quantity</th>
                                                            <th scope="col">Total</th>
                                                            <!-- <th scope="col">Handle</th> -->
                                                          </tr>
                                                        </thead>
                                                        
                                                        <tbody>
                                                            {% for key, value in item_context.items %}
                                                                {% if order.id == key %}
                                                                    {% for v in value %}
                                                                    <tr>
                                                                        <th scope="row">
                                                                            <div class="d-flex align-items-center">
                                                                                <img src="{{ v.item.image.url }}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                                                            </div>
                                                                        </th>
                                                                        <td>
                                                                            <p id="cart-item-name" class="mb-0 mt-4">{{ v.item.name }}</p>
                                                                            <!-- <p id="cart-item-id" class="mb-0 mt-4"></p> -->
                                                                        </td>
                                                                        <td>
                                                                            <p id="rate" rate="" class="mb-0 mt-4">{{ v.item.price }} $</p>
                                                                        </td>
                                                                        <td>
                                                                            <div id="quantity" class="input-group quantity mt-4" style="width: 100px;">
                                                                               
                                                                            
                                                                                <input id="qt-input" type="text" class="form-control form-control-sm text-center border-0" value={{ v.qty }}> 
                                                                               
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            
                                                                            <p id="item-total" per-item-total="" class="total mb-0 mt-4">{{ v.subtotal }} $</p>        
                                                                            
                                                                        </td>
                                                                        
                                                                    </tr>
                                                                        
                                                                    {% endfor %}
                                                                
                                                                {% endif %}
                                                            {% endfor %}
                                                                        
                                                                        
                                                        </tbody>
                                                    </table>  
                                                </div>
                                            </div>
                                          </div>
                                    
                                </p>
                                <!-- <p id="cart-item-id" class="mb-0 mt-4">{{ item.id }}</p> -->
                            </td>
                            <td>
                                <p id="rate" rate="{{ item.price }}" class="mb-0 mt-4">$ {{ order.t_amount }}</p>
                            </td>
                            
                            <td>
                                
                                <p id="item-total" per-item-total="{{ value.subtotal }}" class="total mb-0 mt-4">{{ order.order_date }}</p>        
                                
                            </td>
                        </tr>
                    {% endfor %}
                        
                    </tbody>
                </table>  
            </div>
            {% else %}
            <div>
                <h3 class="font-weight-bold text-center mb-5 border">There is no Orders here.</h3>
            </div>
            
            {% endif %}  
            
        </div>
    </div>
    <!-- Cart Page End -->

    
{% endblock content %}
        

